appdirs==1.4.4
beautifulsoup4==4.9.3
bottle==0.12.18
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
cssselect==1.1.0
extras==1.0.0
fake-useragent==0.1.11
fixtures==3.0.0
idna==2.8
linecache2==1.0.0
lxml==4.4.1
parse==1.18.0
pbr==5.5.1
purl==1.5
pyee==7.0.4
pyppeteer==0.2.2
pyquery==1.4.1
python-dateutil==2.8.0
python-mimeparse==1.6.0
requests==2.22.0
requests-html==0.10.0
six==1.12.0
soupsieve==2.0.1
testscenarios==0.5.0
testtools==2.4.0
tqdm==4.51.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.25.3
w3lib==1.22.0
websockets==8.1
